body {
  margin: 0;
  background: grey;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

#sidebar {
  float: left;
  display: grid;
  grid-template-columns: 70px auto;
  height: 100%;
}

#content {
  float: center;
  padding: 1px 90px;
}
