<div class="container">
  <div class="taskdiv">
    <h1 class ="title">{{title}}</h1>
    <ul>
      <li class ="taskList" *ngFor="let task of tasks">
        <a routerLink="/details/{{task.taskId}}">{{task.taskName}}</a>
        <ul>
          <li class="subtext">Description:       {{task.taskInfo}}<br/></li>
          <li class="subtext">Date:       {{task.taskDate}}<br/></li>
          <li class="subtext">Location :  {{task.taskLocation}}<br/></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="descriptiondiv">
    <router-outlet></router-outlet>
  </div>
</div>
