<div class="container">
  <div class="descriptiondiv">
    <a href="http://localhost:4200/">
      <i class="material-icons">clear</i>
    </a>
    <h1 class = "title">{{tasks[id-1].taskName}}</h1>
    <ul class = "details">
      <li>Task Id Number : {{tasks[id-1].taskId}}</li>
      <li>Task Name: {{tasks[id-1].taskName}}</li>
      <li>Task Info: {{tasks[id-1].taskInfo}}</li>
      <li>Task Date: {{tasks[id-1].taskDate}}</li>
      <li>Task Location: {{tasks[id-1].taskLocation}}</li>
    </ul>
    <h2 class ="title">Edit Info</h2>
    <form class="editPane" [formGroup]= "taskForm" (ngSubmit) = "onSubmit()">
      Task Name:
      <input type="text" name="TaskName" placeholder = "{{tasks[id-1].taskName}}" formControlName = "name">
      <br> <input type="submit" value="Submit">
    </form>

  </div>
</div>
